#Lista de bibiliotecas necessárias para as funcionalidades presentes no backend
fastapi
uvicorn
motor
pydantic
bcrypt 
PyJWT
google-auth
google-api-python-client
google-auth-httplib2
google-auth-oauthlib